{{define "nav"}}
<div class="hidden lg-block">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">FarmerCookbook</a>
    <div>
        <span class="mt-[2px] h-[40px] w-[1px] bg-borderdark mx-6 "></span>
        <form class="form-inline" hx-get="/recipes/search" hx-target="#recipeList" hx-trigger="submit">
            <input name="query" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>
</div>
{{end}}
